<div class="btn-group">
  <a class="btn btn-primary" href="/admin/level">Create a Level</a>
</div>
<div class="btn-group">
  <a class="btn btn-primary" href="/admin/question">Create a Question</a>
</div>
<div class="btn-group">
  <a class="btn btn-primary" href="/admin/answer">Create an Answer</a>
</div>
