<h1>Answer Creation Form</h1>

<form action="/admin/answer" method="POST">
  <div class="form-group">
    <label for="question_id">Question</label>
    <select class="form-control" id="level_id">
      <% @questions.each do |question| %>
        <option value="<%= question.id %>"><%= question.text %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <label for="text">Text</label>
    <input class="form-control" id="text" type="text" name="text">
  </div>

  <div class="form-group">
    <label for="percent">Percent</label>
    <input class="form-control" id="percent" type="number" name="percent">
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-primary">
  </div>
</form>
