<html>
    <head>
        <title>Create Answer</title>
    </head>
<body>

<h1>Answer Creation Form</h1>

<form action="/admin/answer" method="POST">
    text: <input type="text" name="text">
	question_id: <input type ="integer" name="question_id">
	percentage: <input type ="integer" name="percentage">
    <input type="submit">
</form>

</body>
</html>
